/* CSS Style sheet for user page */
body {
    background-color:#d2ff89;
}

span, a{background-color: lightgreen;}

a:hover{background-color: limegreen;}

a:active{color:forestgreen}

h1 {
    color:rgb(58, 92, 3);
    text-decoration:solid;
    text-align: center;
    position: static;
}

h2 {
    color: rgb(218, 72, 15);
    text-decoration: solid;
}

h3[target] {
    color: pink;
    background-color: brown;
    text-decoration:wavy;
}

.box {
    color:silver;
    border: 15px;
    border-style: ridge;
    border-color: slategrey;
    border-width: auto;
    border-radius: 1em;
    background-color: hsl(150, 70%, 30%);
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 75px;
    padding-left: 60px;
}

.box1 {
    border: 20px;
    border-style:dashed;
    border-color: coral;
    border-width: 10px;
    border-radius: 1em;
    height: 100px;
    background-color: olive;
    margin: auto;
    padding: 60px 70px 60px 80px;
    width: 500px;
}

.box2 {
    border: 10px;
    border-style: dotted;
    border-color:peru;
    max-width: 900px;
    padding: 15px;
}

details {
    color: crimson;
    display: inline;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.container {
    display: grid;
}

.ems li {
    font-size: 1.5em;
}

.rems li {
    font-size: 1.8rem;
    display:ruby;
}

#mark{
    font: 400;
}

* {
    color:saddlebrown;
}

ul li {
    color:darkorchid;
}

ul > li {
    font-style: italic;
}

h2~ol {
    background-color: dimgray;
}

h3+ul {
    background-color:orangered;
}

h3.box {
    font-style: oblique;
}